<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CRMBASEDEDATOS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CRMBASEDEDATOS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"></script>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="~/Home/Index">
                                <span data-feather="home"></span> INICIO
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Clientes/Index">
                                <span data-feather="user"></span> CLIENTES
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Tratamiento/Index">
                                <span data-feather="droplet"></span> TRATAMIENTOS
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Promociones/Index">
                                <span data-feather="dollar-sign"></span> PROMOCIONES
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Citas/Index">
                                <span data-feather="phone"></span> CITAS
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Cursoes/Index">
                                <span data-feather="users"></span> CURSOS
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/InscripcionCursoes/Index">
                                <span data-feather="file"></span> INSCRIPCIONES
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main content -->
            <main id="main-content" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="pb-3">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CRMBASEDEDATOS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script>
        feather.replace(); // Inicializa los íconos
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
