@model CRMBASEDEDATOS.Models.Promocione

@{
    ViewData["Title"] = "Crear Promoción";
}

<h1>@ViewData["Title"]</h1>


<div class="card shadow-sm">
    <div class="card-body">
        <h4>Registro de Nueva Promoción</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="IdTratamiento" class="control-label"></label>
                <select asp-for="IdTratamiento" class="form-control" asp-items="ViewBag.IdTratamiento">
                    <option>Seleccione una opción....</option>
                </select>
                <span asp-validation-for="IdTratamiento" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Descripcion" class="control-label"></label>
                <textarea asp-for="Descripcion" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Estatus" class="control-label"></label>
                <select asp-for="Estatus" class="form-control" required>
                    <option value="">Seleccione Estatus</option>
                    <option value="Disponible">Disponible</option>
                    <option value="No disponible">No disponible</option>
                </select>
                <span asp-validation-for="Estatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
