@model CRMBASEDEDATOS.Models.Cita

@{
    ViewData["Title"] = "Editar Cita";
}

<h1 class="mb-4">@ViewData["Title"]</h1>

<h4>Detalles de la Cita</h4>
<hr />
<div class="row">
    <div class="col-md-6 col-lg-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <input type="hidden" asp-for="IdCita" />

            <div class="mb-3">
                <label asp-for="IdCliente" class="form-label">Cliente</label>
                <select asp-for="IdCliente" class="form-select" asp-items="ViewBag.IdCliente">
                    <option>Seleccione una opción...</option>
                </select>
                <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="IdTratamiento" class="form-label">Tratamiento</label>
                <select asp-for="IdTratamiento" class="form-select" asp-items="ViewBag.IdTratamiento">
                    <option>Seleccione una opción...</option>
                </select>
                <span asp-validation-for="IdTratamiento" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="IdPromocion" class="form-label">Promoción</label>
                <select asp-for="IdPromocion" class="form-select" asp-items="ViewBag.IdPromocion">
                    <option>Seleccione una opción...</option>
                </select>
            </div>

            <div class="mb-3">
                <label asp-for="Fecha" class="form-label">Fecha y Hora</label>
                <input asp-for="Fecha" class="form-control" type="datetime-local" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Precio" class="form-label">Precio</label>
                <input asp-for="Precio" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Estatus" class="form-label">Estatus</label>
                <input asp-for="Estatus" class="form-control" />
                <span asp-validation-for="Estatus" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
