@model CRMBASEDEDATOS.Models.Curso

@{
    ViewData["Title"] = "Detalles del Curso";
}

<h1 class="mb-4">@ViewData["Title"]</h1>

<div class="card shadow-sm">
    <div class="card-body">
        <h4 class="card-title">Detalles del curso</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3 fw-bold">Curso</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>

            <dt class="col-sm-3 fw-bold">Descripción</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Descripcion)</dd>

            <dt class="col-sm-3 fw-bold">Estatus</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Estatus)</dd>

        </dl>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCurso" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>

